<main>
    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/400/200" alt="Product hoto">
        <div class="card-body">
            <h5 class="card-title">Product #10265b</h5>
            <p>USB Hub Type C 12V 1 HDMI, VGA AUX</p>
            <a href="/summary" class="btn btn-primary">Open</a>

        </div>
    </div>

    <br>
    <br>
    <br>
    <code>Використання div</code>
    <div class="list-group">
        <div class="list-group-item">Item 1</div>
        <div class="list-group-item">Item 2</div>
        <div class="list-group-item">Item 3</div>

    </div>

    <br>
    <br>
    <br>
    <code>Використвння ul li </code>
    <ul class="list-group">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
        <li class="list-group-item">
            <ul>
                <li class="list-group-item">Item 3.1</li>
                <li class="list-group-item">Item 3.2</li>
                <li class="list-group-item">Item 3.3</li>
            </ul>
        </li>
    </ul>
    <br>
    <br>
    <br>
    <code>Використвння як меню </code>
    <h5>Menue</h5>
    <ul class="list-group">
        <li class="list-group-item">
            <a class="btn btn-link" href="#">Home page</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" href="#">Home page</a>
        </li>
        <li class="list-group-item">
            <a class="btn btn-link" href="#">Home page</a>
        </li>
    </ul>

    <br>
    <br>

    <code>Використвння як меню 2 </code>
    <div class="card">
        <div class="card-header">
            <div>Menue</div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Home page</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Home page</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-link" href="#">Home page</a>
            </li>

            <div class="card-footer">
                <button class="btn btn-dark btn-sm">Update list</button>
            </div>

    </div>


    <br>
    <br>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    First
                </th>
                <th>
                    Last
                </th>
                <th>
                    Handle
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>John</td>
                <td>35</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Jesica</td>
                <td>31</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Bob</td>
                <td>40</td>
            </tr>

        </tbody>
    </table>

    <br>
    <br>
    <br>

    <div class="card text-bg-success">
        <div class="card-header text-center">Header</div>
        <div class="card-body text-center">
            <h6 class="card-title">This is title</h6>
            <p>Lorem ipsum text card</p>
            <button class="btn btn-light">Open card</button>
        </div>
        <div class="card-footer text-center">Footer</div>
    </div>
    <br>
    <br>

    <div class="card text-bg-dark">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">This is title</h6>
            <p>Lorem ipsum text card</p>
            <button class="btn btn-light">Open card</button>
        </div>
        <div class="card-footer">Footer</div>
    </div>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">
            <h6 class="card-title">This is title</h6>
            <p>Lorem ipsum text card</p>
            <button class="btn btn-primary">Open card</button>
        </div>
        {{!-- <div class="card-footer">Footer</div> --}}
    </div>
    <br>
    <br>
    <br>


    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h6 class="card-title">This is title</h6>
                    <p>Lorem ipsum text card</p>
                    <button class="btn btn-primary">Open card</button>
                </div>
                {{!-- <div class="card-footer">Footer</div> --}}
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h6 class="card-title">This is title</h6>
                    <p>Lorem ipsum text card</p>
                    <button class="btn btn-primary">Open card</button>
                </div>
                {{!-- <div class="card-footer">Footer</div> --}}
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h6 class="card-title">This is title</h6>
                    <p>Lorem ipsum text card</p>
                    <button class="btn btn-primary">Open card</button>
                </div>
                {{!-- <div class="card-footer">Footer</div> --}}
            </div>
        </div>


    </div>


</main>