<main>
    <h1 class="text-center text-uppercase">Hello World</h1>
    <h2 class="text-end text-lowercase">Hello world second</h2>
    <h3 class="text-capitalize">Hello world</h3>

    <hr>

    <div class="display-1 text-muted">Hello world</div>
    <div class="display-5">Hello world</div>
    <div class="display-6">Hello world</div>
    <br>
    <hr>
    <br>





    <button class="btn btn-primary">Text button</button>
    <button class="btn btn-success">Text button</button>
    <br>
    <br>
    <button class="btn btn-primary">
        <span class="text-uppercase">Button primary</span>
        <h1>text 1</h1>
    </button>
    <br>

    <br>
    Кнопка - посилання <br>

    <a href="#" class="btn btn-primary">Button primary</a>
    <br>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-primary">Button primary</a>
        </div>
    </div>


    <div class="card">
        <div class="card-body">

        </div>
    </div>

    <br>
    <br>
    <hr>
    <br>


    Стилізація тексту:
    <br>
    <p class="text-primary">My text lorem ipsum</p>
    <p class="text-secondary">My text lorem ipsum</p>
    <p class="text-muted">My text lorem ipsum</p>
    <p class="text-success">My text lorem ipsum</p>
    <p class="text-danger">My text lorem ipsum</p>
    <p class="text-warning">My text lorem ipsum</p>
    <p class="text-info">My text lorem ipsum</p>
    <p class="text-light">My text lorem ipsum</p>
    <p class="text-dark">My text lorem ipsum</p>

    <br>
    <hr>
    <br>
    <div class="display-6">Блок з тегом параграфа</div>
    <div class="card">
        <div class="card-body">
            <p class="text-primary">My text lorem ipsum</p>
            <p class="text-secondary">My text lorem ipsum</p>
            <p class="text-muted">My text lorem ipsum</p>
            <p class="text-success">My text lorem ipsum</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <br>
    <div class="display-6">Блок з тегом Діва</div>
    <div class="card">
        <div class="card-body">
            <div class="text-primary">My text lorem ipsum</div>
            <div class="text-secondary">My text lorem ipsum</div>
            <div class="text-muted">My text lorem ipsum</div>
            <div class="text-success">My text lorem ipsum</div>
        </div>
    </div>


    <br>
    <hr>
    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-outline-primary">Button primary</button>
            <button class="btn btn-outline-secondary">Button secondary</button>
            <button class="btn btn-outline-success">Button uccess</button>

        </div>

    </div>
    <br>


    <div class="card">
        <div class="card-body">
            <div>Lorem ipsum</div>
        </div>
    </div>



    <br>
    <h2>Outline buttons</h2>
    <br>
    <button class="btn btn-outline-primary">Button primary</button>
    <button class="btn btn-outline-secondary">Button secondary</button>
    <button class="btn btn-outline-success btn-lg">Button uccess</button>
    <button class="btn btn-outline-danger">Button danger</button>
    <button class="btn btn-outline-warning btn-sm">Button warning</button>
    <button class="btn btn-outline-info">Button info</button>
    <button class="btn btn-outline-light">Button light</button>
    <button class="btn btn-outline-dark">Button dark</button>
    <hr>
    <br>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>


</main>