{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<main>
    {{> mainHead}}

    <div class="my-5">
        <h2>
            Список сторінок
        </h2>
        <p class="mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores cum commodi totam inventore quae est
            incidunt quam repellat possimus saepe officiis, ratione eligendi magni nisi eos atque deleniti, repudiandae
            modi!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, saepe. Aliquam iste et voluptates harum?
            Saepe rem illo pariatur eligendi asperiores dolor, magnam ratione odit voluptas error ipsum corrupti totam!
        </p>

        <div class="row">
            <div class="card part p-5 m-2 col">

                <h3>Skills part 1</h3>
                <hr>
                <div>
                    {{> buttonsMenu_pt1}}
                </div>

            </div>

            <div class="card part p-5 m-2 col">
                <h3>Skills part 2</h3>
                <hr>
                <div>
                    {{> buttonsMenu_pt2}}
                </div>

            </div>
        </div>
    </div>




</main>