<div class="my-2">
  <div class="py-2">
    <a class="btn btn-primary" href="http://localhost:3000/summary">Summary</a>
  </div>
  <div>
    <a class="btn btn-primary" href="http://localhost:3000/skills">Skills</a>
  </div>
  <div class="py-2">
    <a class="btn btn-primary" href="http://localhost:3000/education">Education</a>
  </div>
  <div>
    <a class="btn btn-primary" href="http://localhost:3000/work">Work</a>
  </div>
</div>