<div class="my-2">
    <span class="py-2">
        <a class="btn btn-primary" href="/person">Person</a>
    </span>
    <span>
        <a class="btn btn-primary" href="/bio">Bio</a>
    </span>
    <span class="py-2">
        <a class="btn btn-primary" href="/program">Program</a>
    </span>
    <span>
        <a class="btn btn-primary" href="/web">WEB</a>
    </span>
    <hr>
    <span class="py-2">
        <a class="btn btn-success" href="/bootstrap">Bootstrap</a>
    </span>
    <span class="py-2">
        <a class="btn btn-warning" href="/js">JS</a>
    </span>
    <span class="py-2">
        <a class="btn btn-outline-secondary" href="/mac">Mac</a>
    </span>
    <span class="py-2">
        <a class="btn btn-outline-primary" href="/facebook">Facebook</a>
    </span>
    <span class="py-2 car">
        <a class="btn btn-danger" href="/car">Car</a>
    </span>

    <span class="py-2">
        <a class="btn btn-outline-secondary" href="/task22">Task 22</a>
    </span>
    <span class="py-2">
        <a class="btn btn-outline-primary" href="/bootstrap-card">Bootstrap card</a>
    </span>
    <span class="py-2">
        <a class="btn btn-outline-secondary" href="/task31">Website</a>
    </span>
    <span class="py-2">
        <a class="btn btn-outline-secondary" href="/shophome">News</a>
    </span>
    <span class="py-2 car">
        <a class="btn btn-outline-secondary" href="/shoporder">Order</a>
    </span>
    <span class="py-2">
        <a class="btn btn-primary" href="/shopcart">Cart</a>
    </span>
    <span class="py-2">
        <a class="btn btn-primary" href="/shopprofile">Profile</a>
    </span>
    <span class="py-2">
        <a class="btn btn-primary" href="/shopcatalog">Catalog</a>
    </span>


</div>